h1 {
    color: #777777;
}
.wmd-panel{
    margin-right: 0px !important;
    margin-left: 0px !important;
    min-width: 540px !important;
}
.comment-reply{
    display: none;
}
body{
    background-color: gray;
}


